#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <32 33>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        to_eisu: to_eisu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "TO_EISU";
            bindings = <&kp LC(SPACE)>;
        };

        to_kana: to_kana {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "TO_KANA";
            bindings = <&kp LANG1>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        rmclk: layer_mouse_right_click {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_MOUSE_RIGHT_CLICK";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&mkp>;
        };

        zenhan_td: zenhan_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "ZENHAN_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LANG1>, <&kp LANG2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp LC(SPACE)   &mo 5         &kp W         &kp E     &kp R         &kp T           &kp Y      &kp U        &kp I  &kp O      &kp MINUS  &kp BACKSPACE
&kp LEFT_SHIFT  &kp A         &kp S         &kp D     &kp F         &kp G           &kp H      &kp J        &kp K  &kp L      &kp P      &kp ENTER
&kp LCTRL       &kp Z         &kp X         &kp C     &kp V         &kp B           &kp B      &kp N        &kp M  &kp COMMA  &kp DOT    &kp RIGHT_SHIFT
                &kp LEFT_WIN  &kp LEFT_ALT  &mkp MB1  &rmclk 1 MB2  &lt 3 QUESTION  &lt 2 TAB  &lt 4 SPACE                    &kp RCTRL
            >;
        };

        MOUSE {
            bindings = <
&kp ESCAPE     &kp Q      &trans    &kp UP          &mkp MB4         &mkp MB5       &kp EXCLAMATION       &kp SEMICOLON          &kp PLUS          &kp EQUAL          &kp SLASH      &kp DEL
&kp LS(LA(F))  &trans     &kp LEFT  &kp DOWN        &kp RIGHT        &kp PAGE_UP    &kp COLON             &kp AMPERSAND          &kp ASTERISK      &kp AT_SIGN        &kp LC(V)      &kp LC(C)
&kp LCTRL      &kp LC(Z)  &trans    &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp PAGE_DOWN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LC(V)      &kp LC(A)
               &trans     &trans    &trans          &trans           &trans         &kp PAGE_DOWN         &kp PAGE_UP                                                 &kp LG(LC(V))
            >;
        };

        FUNCTION {
            bindings = <
&kp ESCAPE     &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT  &kp CARET        &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&kp PG_UP      &kp F1           &kp F2       &kp F3    &kp F4      &kp F5       &kp EXCLAMATION  &kp AT_SIGN    &trans        &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PAGE_UP
&kp PAGE_DOWN  &kp F6           &kp F7       &kp F8    &kp F9      &kp F10      &trans           &kp HASH       &kp DOWN      &kp RIGHT             &trans                 &kp PAGE_DOWN
               &kp F11          &kp F12      &trans    &trans      &trans       &trans           &trans                                             &trans
            >;
        };

        NUM {
            bindings = <
&trans  &kp N1            &kp N2             &kp N3          &kp N4           &kp N5    &kp PAGE_UP    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp EQUAL     &kp BACKSPACE
&trans  &trans            &trans             &trans          &mkp MB4         &mkp MB5  &kp PAGE_DOWN  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH     &kp PERCENT
&trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp PIPE  &kp MINUS      &kp PLUS      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ASTERISK
        &trans            &trans             &trans          &trans           &trans    &kp LC(ESC)    &kp NUMBER_0                              &kp DOT
            >;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans    &kp UP    &mkp MB4   &trans  &trans  &trans            &kp LS(LC(UP))    &trans             &mkp MB1  &mkp MB2
&trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans  &kp LS(LC(LEFT))  &kp LS(LC(DOWN))  &kp LS(LC(RIGHT))  &trans    &trans
&mo 6   &trans  &trans    &trans    &trans     &trans  &trans  &trans            &mkp MB1          &mkp MB2           &trans    &trans
        &trans  &trans    &mkp MB4  &mkp MB5   &trans  &trans  &trans                                                 &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans
            >;
        };

        Bluetooth {
            bindings = <
&trans  &trans        &trans        &trans        &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans
&trans  &trans        &trans        &trans        &trans  &trans  &trans        &trans        &trans        &trans        &trans          &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans  &bootloader   &trans        &trans        &trans        &trans          &bt BT_CLR
        &trans        &trans        &trans        &trans  &trans  &trans        &trans                                    &bt BT_CLR_ALL
            >;
        };
    };
};
